@font-face{
    font-family:anaphora;
    src: url("lunchtype22.light.ttf");
}
html {
    background-image: url("skyline.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-color: #C25543
    }

body {
    color: # white;
    font-family: anaphora;    
}

h1, h2, h3, h4, h5, h6 {
    color: white;    
}

p{
    color: white;
}
a {
    color: white;
}

b, strong {
    font-weight: 600;
}

footer {
    padding-top: 22px;    
}

.img {
    width:45%;
    height:45%;
    image-orientation: left;
}

.button {
    width:42px;
    height:42px;
    image-orientation: center;
}